

    <% include partials/header %>



      <div class="container" style="margin-top: 50px">
            
        <div class="row">
                <div class="col-lg-12">
            <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nanme</th>
                            <th>Addess</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>ID</th>
                          <th>Nanme</th>
                          <th>Addess</th>
                          <th>Phone</th>
                        </tr>
                    </tfoot>
                </table>

            </div>

            <div class="col-lg-6">

                    <button type="button" id="boton" class="btn btn-primary">Boton</button>

            </div>

        </div>


      </div>



      <!-- Modals -->
      <!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                    <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="text" id="txtmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="text" id="txtpassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            

                          </form>
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="btnsave" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->


      <% include partials/footer %>

