
      <script>
            $(document).ready(function(){
                  $("#element").introLoader({
        animation: {
            name: 'cssLoader',
            options: {
                exitFx:'slideUp',
                ease: "easeInOutCirc",
                style: 'dark',
                delayBefore: 1000,
                exitTime: 1000
            }
        }
    });
            });
        </script>
      
      </body>
      </html>