<script>
    const socket = io();
    $(document).ready(function () {



        $("#element").introLoader({
            animation: {
                name: 'cssLoader',
                options: {
                    exitFx: 'slideUp',
                    ease: "easeInOutCirc",
                    style: 'dark',
                    delayBefore: 1000,
                    exitTime: 1000
                }
            }
        });


        // Conexion del socket
        socket.on('notify:cabinetInsert', function (data) {

            $('#tableCabinets').DataTable().ajax.reload();

            $.notify("Hay un nuevo gabinete", {
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated zoomOutUp'
                }
            });

            setTimeout(function () {
                $.notifyClose();
            }, 2200);


        });//End socket notify insert



        // se activa el socket cuando ocurre una eliminacion
        socket.on('notify:cabinetDelete', function (data) {

            $('#tableCabinets').DataTable().ajax.reload();

            $.notify("Se elimino un registro", {
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated zoomOutUp'
                },
                type: 'danger'
            });

            setTimeout(function () {
                $.notifyClose();
            }, 2200);

        });//End socket notify delete


        // se activa el socket cuando ocurre un update
        socket.on('notify:cabinetUpdate', function (data) {

            $('#tableCabinets').DataTable().ajax.reload();

            $.notify("Se actualizo un registro", {
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated zoomOutUp'
                }
                // type: 'info'
            });

            setTimeout(function () {
                $.notifyClose();
            }, 2200);

        });//End socket notify update

        // se activa el socket cuando ocurre un cambio de estado del gabinete
        socket.on('notify:cabinetStateUpdate', function (data) {

            $('#tableCabinets').DataTable().ajax.reload();

            $.notify("Se cambio el estado de un gabinete", {
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated zoomOutUp'
                }
                // type: 'info'
            });

            setTimeout(function () {
                $.notifyClose();
            }, 2200);

        });//End socket notify update


    });//End document ready function
</script>

</body>

</html>