
      <script>
            $(document).ready(function () {
      
                  //get a reference to the element
                  var btnAdd = document.getElementById('btnAdd');
                  var btnEdit = document.getElementById('btnEdit');
                  var btnDelete = document.getElementById('btnDelete');
                  var btnSave = document.getElementById('btnSave');

                  var txtName = document.getElementById('txtName');
                  var txtAddress = document.getElementById('txtAddress');
                  var txtPhone = document.getElementById('txtPhone');

                  const socket = io();
      
      
      
                  $('#example').DataTable({
                    ajax: {
                    url: "/consulta",
                    dataSrc: "customers"
                    },  
                    columns:[
                        {data: "id"},
                        {data: "name"},
                        {data: "address"},
                        {data: "phone"}
                    ],

                      //Ocultar columna
                      "columnDefs": [
                        {
                            "targets": [ 0 ],
                            "visible": false
                        }
                                    ]

                  });
      
                  //add event listener
                  btnAdd.addEventListener('click', function (event) {
      
                      $('#example').DataTable().ajax.reload();
                      $('#modal').modal('show');
                      

                  });

                  //add event listener
                  btnSave.addEventListener('click', function (event) {

                    //   console.log(txtmail.value);
                    //   console.log(txtpassword.value);

                      $.ajax({
                            url: "/add",
                            type: "post",
                            data: {
                                'name': txtName.value,
                                'address': txtAddress.value,
                                'phone': txtPhone.value
                            } ,
                            success: function (response) {
                            // you will get response from your php page (what you echo or print)                 

                            console.log(response);

                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            // console.log(textStatus, errorThrown);
                            }
                        });


                        socket.emit('notify:insert',{

                        });

                         $('#modal').modal('hide');

                    });//End clic listener btn save


                    btnEdit.addEventListener('click', function (event) {


                     });//End clic listener btn edit

      
                  var table = $('#example').DataTable();
 
                    $('#example tbody').on( 'click', 'tr', function () {
                        
                        if ( $(this).hasClass('selected') ) {
                                $(this).removeClass('selected');
                            }
                            else {
                                table.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }

                            var arr = Array.from(Object.keys(table.row( this ).data()), k=>table.row( this ).data()[k]);
                        
                        console.log( arr[0] );

                        
                    } );



                socket.on('notify:insert', function (data) {
                    console.log('se inserto algo');
                    $('#example').DataTable().ajax.reload();

                          $.notify("Hay un nuevo registro");


                })


              });//End documente ready
      
            </script>
      
      </body>
      </html>