<script>
    $(document).ready(function () {

        // Inicializacion de librerias
        jQuery("time.timeago").timeago();

        // $('#modalNewDevice').modal('show');

        // ////////////////////// Variables globales y funciones ///////////////////////////////////////////////////
        btnEdit.disabled = true;
        btnDelete.disabled = true;
        btnState.disabled = true;

        //temporalmente se guarda el registro de la fila seleccionada
        var row_array;

        function clearListCabinets() {
            for (i = selectCabinets.options.length - 1; i >= 0; i--) {
                selectCabinets.remove(i);
            }
        }

        function clearListTypeDevices() {
            for (i = selectTypeDevices.options.length - 1; i >= 0; i--) {
                selectTypeDevices.remove(i);
            }
        }

        function clearListBrands() {
            for (i = selectBrands.options.length - 1; i >= 0; i--) {
                selectBrands.remove(i);
            }
        }

        function loadAjaxBrands() {

            $.ajax({
                url: "/devices/brandlist",
                type: "get",
                success: function (response) {
                    clearListBrands();
                    var options = response.Marca;

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];
                        var texto = option.marca;
                        document.getElementById("selectBrands").options.add(new Option(texto, option.id));
                    }

                    $('#selectBrands').selectpicker('refresh');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // console.log(textStatus, errorThrown);
                }

            });

        }


        function loadAjaxtypeDevices() {

            $.ajax({
                url: "/devices/typedevicelist",
                type: "get",
                success: function (response) {
                    clearListTypeDevices();
                    var options = response.tipoDispositivo;

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];
                        var texto = option.dispositivo;
                        document.getElementById("selectTypeDevices").options.add(new Option(texto, option.id));
                    }

                    $('#selectTypeDevices').selectpicker('refresh');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // console.log(textStatus, errorThrown);
                }

            });

        }


        function loadAjaxCabinets() {

            $.ajax({
                url: "/cabinets/list",
                type: "post",
                success: function (response) {
                    clearListCabinets();
                    // console.log(response.Gabinetes[0].id);
                    var options = response.Gabinetes;
                    // console.log(options);

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];
                        var texto = option.identificador + ", " + option.ubicacion;
                        document.getElementById("selectCabinets").options.add(new Option(texto, option.id));
                    }

                    $('#selectCabinets').selectpicker('refresh');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // console.log(textStatus, errorThrown);
                }

            });

        }


        //event al cambiar la seleccion de la lista de gabinetes
        selectCabinets.onchange = function () {
            console.log(selectCabinets.value);
        }

        /////////////////// Codigo ejecutable ////////////////////////////////////////////////////////////////////

        loadAjaxCabinets();
        loadAjaxtypeDevices();
        loadAjaxBrands();



        $('#indexTable').DataTable({
            ajax: {
                url: "/devices/list",
                type: "post",
                dataSrc: "Dispositivos"
            },
            columns: [
                { data: "id" },
                { data: "dispositivo" },
                { data: "marca" },
                { data: "modelo" },
                { data: "n_serie" },
                { data: "identificador_gabinete" },
                { data: "descripcion" },
                {
                    data: "coordenadas",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='https://maps.google.com/maps?q=" + oData.coordenadas + "' target='_blank'>" + oData.coordenadas + "</a>");
                    }
                },
                { data: "updated_at" },
                { data: "created_at" },
                { data: "estado" }
            ],

            language: {
                "url": "/json/datatables-es.json"
            },

            //Ocultar columna
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false
                },
                {
                    "targets": [8],
                    "render": function (data, type, row, meta) {
                        return jQuery.timeago(data);
                    }
                },
                {
                    "targets": [9],
                    "render": function (data, type, row, meta) {
                        return jQuery.timeago(data);
                    }
                }

            ]

        });

        var table = $('#indexTable').DataTable();

        $('#indexTable tbody').on('click', 'tr', function () {

            row_array = Array.from(Object.keys(table.row(this).data()), k => table.row(this).data()[k]);

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');

                btnEdit.disabled = true;
                btnDelete.disabled = true;
                btnState.disabled = true;
                // document.getElementById("btnState").innerHTML = 'Activar/Desactivar';

            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                btnEdit.disabled = false;
                btnDelete.disabled = false;
                btnState.disabled = false;

                //Validar si el estado de la fila esta activo o no y cambiar el texto del boton
                // if (row_array[4] == 'Activo') {
                //     document.getElementById("btnState").innerHTML = 'Desactivar';
                // } else {
                //     document.getElementById("btnState").innerHTML = 'Activar';
                // }

            }



            // console.log( row_array );


        }); //fin evento click de la tabla




        $('#btnOpenModalNewTypeDivece').click(function (e) {

            $('#modalNewTypeDivice').modal('show');

        });

        $('#btnOpenModalNewBrand').click(function (e) {

            $('#modalNewBrand').modal('show');

        });


        //Evento click para recargar los gabinetes con ajax
        $('#btnRefreshCabinets').click(function (e) {

            loadAjaxCabinets();

            $('#btnRefreshCabinets').removeClass().addClass('btn btn-primary flip' + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $(this).removeClass();
                $(this).toggleClass("btn btn-primary");
            });

        });

        //Evento click para recargar los tipos de dispositivos con ajax
        $('#btnRefreshTypeDevices').click(function (e) {

            loadAjaxtypeDevices();

            $('#btnRefreshTypeDevices').removeClass().addClass('btn btn-primary flip' + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $(this).removeClass();
                $(this).toggleClass("btn btn-primary");
            });

        });


        //Evento click para recargar la lista de marcas con ajax
        $('#btnRefreshBrands').click(function (e) {

            loadAjaxBrands();

            $('#btnRefreshBrands').removeClass().addClass('btn btn-primary flip' + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $(this).removeClass();
                $(this).toggleClass("btn btn-primary");
            });

        });





        //Event click to open modal with map
        $('#txtCoordinates').click(function (e) {
            $('#modalMap').modal('show');

        });

        //Event click to open modal with map to edit coordinates
        $('#editTxtCoordinates').click(function (e) {
            $('#modalMap').modal('show');

        });

        //add event to open modal with Add form
        $('#btnAdd').click(function (e) {

            $('#modalNewDevice').modal('show');

        });

        //add event listener to save new entry brand
        $('#btnSaveNewBrand').click(function (e) {

            $.ajax({
                url: "/devices/addnewbrand",
                type: "post",
                data: {
                    'marca': document.getElementById("txtNewBrand").value
                },
                success: function (response) {
                    console.log(response);
                    loadAjaxBrands();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);


                }
            });

            $('#modalNewBrand').modal('hide');



        });//End clic listener btn save new brand

        //add event listener to save new entry type divice
        $('#btnSaveNewTypeDivice').click(function (e) {

            $.ajax({
                url: "/devices/addnewtypedivice",
                type: "post",
                data: {
                    'dispositivo': document.getElementById("txtNewTypeDivice").value
                },
                success: function (response) {
                    console.log(response);
                    loadAjaxtypeDevices();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);


                }
            });

            $('#modalNewTypeDivice').modal('hide');



        });//End clic listener btn save new type device


        //add event listener to save new entry
        $('#btnSaveDevice').click(function (e) {

            $.ajax({
                url: "/devices/add",
                type: "post",
                data: {
                    'modelo': document.getElementById("txtModel").value,
                    'n_serie': document.getElementById("txtSerialNumber").value,
                    'descripcion': document.getElementById("txtDescription").value,
                    'id_tipoDispositivo': document.getElementById("selectTypeDevices").value,
                    'id_marca': document.getElementById("selectBrands").value,
                    'id_gabinete': document.getElementById("selectCabinets").value
                },
                success: function (response) {

                    console.log(response);

                    if (response == 'error') {
                        $.notify("Ha ocurrido un error", {
                            animate: {
                                enter: 'animated fadeInRight',
                                exit: 'animated zoomOutUp'
                            },
                            type: 'danger'
                        });

                        setTimeout(function () {
                            $.notifyClose();
                        }, 2200);

                    }

                    if (response == 'ok') {
                        socket.emit('notify:deviceInsert');
                    }



                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // console.log(textStatus, errorThrown);

                    $.notify("Ha ocurrido un error en el ajax", {
                        animate: {
                            enter: 'animated fadeInRight',
                            exit: 'animated zoomOutUp'
                        },
                        type: 'danger'
                    });

                    setTimeout(function () {
                        $.notifyClose();
                    }, 2200);

                }
            });

            $('#modalNewDevice').modal('hide');


        });//End clic listener btn save

        //Event click to open modal to edit data form
        $('#btnEdit').click(function (e) {

            $('#modalEditRow').modal('show');

            document.getElementById("editTxtIdentifier").value = row_array[1];
            document.getElementById("editTxtLocation").value = row_array[2];
            document.getElementById("editTxtCoordinates").value = row_array[3];

            document.getElementById("editTxtLatitude").value = row_array[3].substring(0, row_array[3].indexOf(','));
            document.getElementById("editTxtLongitude").value = row_array[3].substring(row_array[3].indexOf(',') + 1, row_array[3].length);


        });//End clic listener btn edit

        //update event listener
        $('#btnUpdate').click(function (e) {

            $.ajax({
                url: "/cabinets/update",
                type: "post",
                data: {
                    'id': row_array[0],
                    'identificador': document.getElementById("editTxtIdentifier").value,
                    'ubicacion': document.getElementById("editTxtLocation").value,
                    'latitud': document.getElementById("editTxtLatitude").value,
                    'longitud': document.getElementById("editTxtLongitude").value
                },
                success: function (response) {
                    // you will get response from your php page (what you echo or print)                 

                    if (response == 'error') {
                        $.notify("Ha ocurrido un error", {
                            animate: {
                                enter: 'animated fadeInRight',
                                exit: 'animated zoomOutUp'
                            },
                            type: 'danger'
                        });

                        setTimeout(function () {
                            $.notifyClose();
                        }, 2200);

                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // console.log(textStatus, errorThrown);
                }

            });

            socket.emit('notify:cabinetUpdate');
            btnDelete.disabled = true;
            btnEdit.disabled = true;
            $('#modalEditRow').modal('hide');


        });

        //event click to delete data in the table
        $('#btnDelete').click(function (e) {

            $.ajax({
                url: "/cabinets/delete",
                type: "post",
                data: {
                    'id': row_array[0]
                },
                success: function (response) {
                    // you will get response from your php page (what you echo or print)                 

                    console.log(response);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // console.log(textStatus, errorThrown);
                }
            });

            socket.emit('notify:cabinetDelete');
            btnDelete.disabled = true;
            btnEdit.disabled = true;

        });//End clic listener btn delete


        //Event click to open modal to question if has been actived of disable
        $('#btnState').click(function (e) {

            const { value: fruit } = Swal.fire({
                title: 'Cambiar estado del dispositivo',
                input: 'select',
                inputOptions: {
                    'Activo': 'Activo',
                    'Bodega': 'Bodega',
                    'Dañado': 'Dañado',
                    'Inactivo': 'Inactivo'
                },
                inputPlaceholder: 'Seleccione un estado',
                showCancelButton: true,
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                preConfirm: (value) => {
                    return new Promise((resolve) => {

                        $.ajax({
                            url: "/devices/state",
                            type: "post",
                            data: {
                                'id': row_array[0],
                                'state': value
                            }
                        }).done(function (response) {
                            // document.getElementById("btnState").innerHTML = 'Activar/Desactivar';
                            // socket.emit('notify:cabinetStateUpdate');
                            $('#indexTable').DataTable().ajax.reload();
                            Swal.close();
                            Swal.fire({
                                type: 'success',
                                title: 'Se ha cambiado el estado correctamente!',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            // readProducts();
                        })
                            .fail(function () {
                                Swal.close();
                                Swal.fire({
                                    type: 'error',
                                    title: 'Error en el servidor',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            });


                    })
                }
            }).then((result) => {

                if (result.dismiss === Swal.DismissReason.cancel) {

                    Swal.fire({
                        type: 'success',
                        title: 'Esta bien, no se realizo ningun cambio!',
                        showConfirmButton: false,
                        timer: 1500
                    });

                }

            });


        });//End event click modal question





    });//End documente ready

</script>